{% extends "base.html" %}

{% block pageheading %}welcome{% endblock %}

{% block main %}
    <form class="myform" method="post">
        <div class="form-group">
            <div class="form-label"> First Name: </div>
            <div class="form-element">
                <select type="text" name="assessment" required>
                    <option disabled selected>Select an Assessment</option>
                    {% for assessment in amount_as %}
                        <option value="{{ assessment[2] }}">{{ assessment[0] }} - {{ assessment[1] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="form-label"> </div>
            <div class="form-element"> <input type="submit" value="Submit"></div>
        </div>
    </form>
{% endblock %}
