{% extends "base.html" %}

{% block pageheading %}create a group{% endblock %}

{% block main %}
    <form class="myform" method="post" xmlns="http://www.w3.org/1999/html">
        <div class="form-group">
            <div class="form-label"> Subject: </div>
            <div class="form-element">
                <select type="text" name="subject" required>
                    <option value="" disabled selected>Select a subject</option>
                    {% for subject in subjects %} <!-- Displays all available subjects for a group.-->
                        <option value="{{ subject }}">{{ subject }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-label"> Year level: </div>
            <div class="form-element">
                <select type="text" name="level" required>
                    <option value="" disabled selected>Select a year level</option>
                    {% for year in range(9, 14) %} <!-- Displays all available year levels for a group.-->
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-label"> Group password: </div>
            <div class="form-element"> <input type="password" name="password" required></div>
        </div>
        <div class="form-group">
            <div class="form-label"> </div>
            <div class="form-element"> <input type="submit" value="Submit"></div>
        </div>
    </form>
{% endblock %}
