{% extends "base.html" %}

{% block pageheading %}Add an assignment{% endblock %}

{% block main %}
    <form class="myform" method="post">
        <div class="form-group">
            <div class="form-label"> Assessment Number: </div>
            <div class="form-element"> <input type="text" name="as_n" required></div>
        </div>
        <div class="form-group">
            <div class="form-label"> Assessment Name: </div>
            <div class="form-element"> <input type="text" name="as_name" required></div>
        </div>
        <div class="form-group">
            <div class="form-label"> Credits: </div>
            <div class="form-element"> <input type="text" name="credits" required></div>
        </div>
        <div class="form-group">
            <div class="form-label"> Date Due: </div>
            <div class="form-element"> <input type="text" name="d_date" required></div>
        </div>
        <div class="form-group">
            <div class="form-label"> Time Due: </div>
            <div class="form-element"> <input type="text" name="d_time" required></div>
        </div>
        <div class="form-group">
            <div class="form-label"> Date Starting: </div>
            <div class="form-element"> <input type="text" name="date_start" required></div>
        </div>
        <div class="form-group">
                <div class="form-label">Assessment Type:</div>
                <div class="form-element" style="display: flex; gap: 20px; align-items: center;">
                    <input type="radio" id="unit" name="user_role" value="Unit" required>
                    <label for="unit">Unit</label>

                    <input type="radio" id="achievement" name="user_role" value="Achievement" required>
                    <label for="achievement">Achievement</label>
                </div>
        </div>
        <div class="form-group">
            <div class="form-label"> </div>
            <div class="form-element"> <input type="submit" value="Submit"></div>        </div>
    </form>
{% endblock %}