{% extends "base.html" %}

{% block pageheading %}create a group{% endblock %}

{% block main %}
    <form class="myform" method="post">
        <div class="form-group">
            <div class="form-label"> Enter group code: </div>
            <div class="form-element"> <input type="password" name="code" required></div>
        </div>
        <div class="form-group">
            <div class="form-label"> </div>
            <div class="form-element"> <input type="submit" value="Submit"></div>
        </div>
    </form>
    <br>
    <br>
    <br>
    <p></p>
    <br>
    {% if wrong_password == True %}
        <p> Incorrect Password Entered </p>
    {% endif %}
{% endblock %}