{% extends 'base.html' %}
{% block pageheading %}Add an assessment{% endblock %}

{% block main %}
    <div>
        {% if is_owner %}
            <a href="{{ url_for('render_addassessment_page', group_id = group_id) }}">
            <button>Add a New Assessment</button>
            </a>
        {% endif %}
    </div>
    <table>
        <tr>
            <th>Assessment</th>
            <th>Credits</th>
            <th>Due date</th>
        </tr>
        {% for info in assessment_info %}
        <tr>
            <td>{{info[0]}} {{info[1]}}</td>
            <td>{{info[2]}}</td>
            <td>{{info[3]}} | {{info[4]}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}






