{% extends 'base.html' %}
{% block pageheading %}{{ group_name[0][0] }} - Year {{ group_name[0][1] }}{% endblock %}

{% block main %}
    <div>
        {% if is_owner %}
            <a href="{{ url_for('render_addassessment_page', group_id = group_id) }}">
            <button>Add a New Assessment</button>
            </a>
        {% endif %}
    </div>
    <table>
        <tr>
            <th>Assessment</th>
            <th>Credits</th>
            <th>Due date</th>
            <th></th>
        </tr>
        {% for info in assessment_info %}
        <tr>
            <td>{{info[0]}} {{info[1]}}</td> <!--Assessment number and name.-->
            <td>{{info[2]}}</td> <!--How many credits the assessment is-->
            <td>{{info[3]}} | {{info[4]}}</td> <!--Due date and time.-->
            {% if is_owner %}
            <td>
                <form action="{{ url_for('render_remove_assessment_page') }}" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to remove this assessment?');"> <!-- Renders the remove_assessment_page with the method post.-->
                    <input type="hidden" name="as_id" value="{{ info[5] }}"> <!-- Assessment id of row to be removed.-->
                    <button type="submit">Remove</button> <!-- Button to submit request for removal.-->
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    <br>
    <br>
    <a><a href="/yourgroups">Back</a></a> <!--Takes user back to group page.-->
{% endblock %}






