{% extends "base.html" %}

{% block pageheading %}welcome{% endblock %}

{% block main %}
    <form class="myform" method="post">
        <div class="form-group">
            <div class="form-label"> Class password: </div>
            <div class="form-element"> <input type="password" name="class_password"></div>
        </div>
        <div class="form-group">
            <div class="form-label"> </div>
            <div class="form-element"> <input type="submit" value="Submit"></div>
        </div>
    </form>
{% endblock %}

